@font-face {
  font-family: 'fontello';
  src: url('fontello9f92.eot?24501332');
  src: url('fontello9f92.eot?24501332#iefix') format('embedded-opentype'),
       url('fontello9f92.woff2?24501332') format('woff2'),
       url('fontello9f92.woff?24501332') format('woff'),
       url('fontello9f92.ttf?24501332') format('truetype'),
       url('fontello9f92.svg?24501332#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24501332#fontello') format('svg');
  }
}
*/
